<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="hero">

        <h1>📊 CloudQueueX Dashboard</h1>

        <p>Ticket Monitoring & Analytics</p>

    </div>

    <div class="stats">

        <div class="stat-box">
            <h2>Total</h2>
            <p>Total Tickets</p>
        </div>

        <div class="stat-box">
            <h2>Open</h2>
            <p>Open Tickets</p>
        </div>

        <div class="stat-box">
            <h2>High</h2>
            <p>High Priority</p>
        </div>

        <div class="stat-box">
            <h2>Resolved</h2>
            <p>Resolved Tickets</p>
        </div>

    </div>

</body>

</html>