<!DOCTYPE html>
<html>

<head>
    <title>CloudQueueX Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="ticket-form">

        <h2>🔐 Login</h2>

        <form action="/login" method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <select name="role" required>

                <option value="">Select Role</option>

                <option>User</option>
                <option>Support Engineer</option>
                <option>Admin</option>

            </select>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</body>

</html>